/* Style for the search section */
.search-section {
  background-color: #003580; /* The dark blue background */
}

.search-section h1 {
  font-weight: bold;
  margin-bottom: 10px;
}

.search-form .form-control {
  border-radius: 0.375rem; /* Slightly rounded corners */
  padding: 1rem;
}

.search-form .btn-warning {
  border-radius: 0.375rem;
  padding: 1rem;
  background-color: #ffcc00;
  color: #000;
}

.search-form .btn-warning:hover {
  background-color: #e6b800;
}


/* Footer Styling */
footer {
  background-color: #2c2c2c;
}

footer h5 {
  font-size: 18px;
  color: #ffcc00;
  font-weight: bold;
}

footer p {
  font-size: 14px;
  color: #ccc;
}

footer a {
  color: #ffcc00;
  text-decoration: none;
}

footer a:hover {
  color: #e6b800;
}

footer i {
  font-size: 20px;
  margin-right: 10px;
}

footer .fa-facebook, .fa-twitter, .fa-instagram, .fa-linkedin {
  color: #ffcc00;
}

footer .fa-facebook:hover, .fa-twitter:hover, .fa-instagram:hover, .fa-linkedin:hover {
  color: #e6b800;
}
