.container {
    max-width: 900px;
}

.card {
    border-radius: 20px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
}

.nav-tabs {
    border-bottom: none;
}

.nav-link {
    color: #007bff;
    font-weight: bold;
}

.nav-link.active {
    background-color: transparent;
    border-color: transparent;
    color: #007bff;
    border-bottom: 3px solid #007bff;
}

.form-control {
    border-radius: 30px;
}

.btn-primary {
    background-color: #fbbc05;
    border-color: #fbbc05;
    border-radius: 30px;
    font-size: 18px;
    padding: 10px 30px;
}

.btn-primary:hover {
    background-color: #fbb600;
    border-color: #fbb600;
}
